$primaryColor: #5D70FF;
$secondaryColor: #00C3B8;
$start-zone:#b1bcf9;
$darkBlue: #3550AB;
$free-zone:#11F3E6;
$darkestBlue:#2A2F54;
$grayColor: #8F8F8F;
$backgroundColor: #F8F9FA;
$borderColor: #8F8F8F;