@import "../../sass/main";
.square {
    margin-right: 0 !important;
    padding: 4px !important;
    height: 50px;
    width: 50px;
    border: solid $borderColor 1px;
}
.no-square{
    background-color: white;
    border: none;
}
.regular {
    background-color: $backgroundColor;
}

.free-zone{
    background-color: $free-zone;
}
.restricted{
    background-color: $darkBlue;
}
.start-zone {
    background-color: $start-zone;
}

.wall-top {
    border-top: solid black 2px!important;
}
.wall-left {
    border-left: solid black 2px!important;
}
.wall-bottom {
    border-bottom: solid black 2px!important;
}
.wall-right {
    border-right: solid black 2px!important;
}

