@import "../../sass/main";
.square {
    height: 50px;
    width: 50px;
    border-left: solid $borderColor 1px;
    border-top: solid $borderColor 1px;
}
.no-square{
    background-color: white;
    border-left: none;
    border-top: none;
}
.regular {
    background-color: $backgroundColor;
}

.free-zone{
    background-color: $free-zone;
}
.restricted{
    background-color: $darkBlue;
}
.start-zone {
    background-color: $start-zone;
}
.end-row {
    border-right: solid $borderColor 1px;
}

.end-column {
    border-bottom: solid $borderColor 1px;
}

.wall-top {
    border-top: solid black 2px!important;
}
.wall-left {
    border-left: solid black 4px!important;
}
.wall-bottom {
    border-bottom: solid black 2px!important;
}
.wall-right {
    border-right: solid black 4px!important;
}





